<?xml version="1.0"?>
<robot name="shaker_0">
  <material name="blinn4.001">
    <texture filename="visual/image0.png" />
    <color rgba="1 1 1 1" />
  </material>
  <material name="blinn3">
    <texture filename="visual/image3.png" />
    <color rgba="1 1 1 1" />
  </material>

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/model_normalized_0.obj" scale="0.095 0.095 0.095" />
      </geometry>
      <material name="blinn4.001" />
    </visual>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="visual/model_normalized_1.obj" scale="0.095 0.095 0.095" />
      </geometry>
      <material name="blinn3" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_22.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_23.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_21.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_20.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_24.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_30.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_18.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_19.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_31.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_25.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_27.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_26.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_9.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_8.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_6.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_7.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_5.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_4.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_0.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_1.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_3.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_2.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_17.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_16.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_28.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_14.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_15.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_29.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_11.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_10.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_12.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collision/model_normalized_collision_13.obj" scale="0.095 0.095 0.095" />
      </geometry>
    </collision>
  </link>
</robot>
